@import url('https://fonts.googleapis.com/css?family=Abel');

html { 
  background: url(images/discoBg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Abel', sans-serif;
}

#main {
  text-align: center;
  display: grid;
  align-items: stretch;

  grid-template-areas: 
  "header header header header"
  "a1 a2 a3 a4"
  "b1 b2 b3 b4"
  "c1 c2 c3 c4";
  grid-gap: 1em;
}