.bg{
	background-attachment:fixed;
}

#footer{
 	text-align: center
}

.container{
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#top-row{
	border-top: 150px;
}

#logo {
	float: left;
	text-transform: uppercase;
	margin-left: 50px;
	color: white;
	opacity: 0.7;
	font-family: Helvetica, Arial, Sans-Serif;
}

.col-sm-2{
	text-align: center;
}

.row{
	margin: 20px
}

#gear-link{
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 1.75px 1.75px black;
	opacity: 0.9;
	color: white;
	font-family: Helvetica, Arial, Sans-Serif;
}

#gear-link{
	position: relative;
}

.link-holder{
position: relative;

}


div div a img{
	background-image: url(images/album art/th.jpg);
	background-size: 200px;
	height: 150px;
}

nav {
	text-align: right;
	list-style: none;
	margin-right:0px;
	font-family: Helvetica, Arial, Sans-Serif;

}

nav li{
	margin-top: 30px;
	display: inline-block;
	margin-right:35px;
}

nav a{
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	opacity: 0.7;


}

nav a:hover{
	text-transform: uppercase;
	text-decoration: none;
	color: grey;
	opacity: 0.9;


}

h1,h2,p {
	color: white;
	opacity: 0.8;
	font-family: Helvetica, Arial, Sans-Serif;

}

#info {
	text-shadow: 1.5px 1.5px black;
	opacity: 0.9;
	color: white;
	font-family: Helvetica, Arial, Sans-Serif;
}

#header1{
	margin: 0px;
}

#img_container{
	width: 600px;
	height: 600px;
}

#img_container img{
	width: 33%;
	height: auto;

}

#img_container ul{
	display: inline-block;
	margin-bottom: 20px;
}