#footer{
	position: absolute
 	bottom: 0;
 	text-align: center
}
#nav-list{
	list-style-type:none;
	display: inline;
	padding: 5px;
	margin: 5px;
	text-align: right;
	color: white;
	text-shadow: 1px 1px black;
}

#li{
	display: inline;
	font-size: 15px;
	padding: 0px;
	margin: 5px;
	color: white;
	text-align: right;

}

#nav-div{
		text-align: right;

}

a{
	color: white;
}

h1,p {
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif

}

#info {
	text-shadow: 1.5px 1.5px black;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

#header1{
	margin: 0px;
}
<!-- Linking Bootstrap CDN -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
